<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/redlibrarian/Documents/zk-phd</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 650}}</string>
		<string>{{266, 0}, {470, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>047E602D-0CBD-4BDE-A6E8-DE6AB996AEF5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>108F8C1F-D0A4-437D-9D34-0813D51AE881</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>404E8E73-F285-4DCD-862C-BD56F1F96F21</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>45049D5F-8754-4D3D-970E-02FB2F497435</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55150164-06F5-4A01-97EE-1123019989FA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>854F9A2B-AAA9-4CA1-B904-D8E7D4712A16</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BB5F314D-F68D-4431-8476-9171B4356270</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1EF68E3-CB79-40B0-921C-3145DBDF53E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 564}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 141 736 672 0 0 1440 877 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
